:root{
    --cor-fundo:#152bd8;
    --cor-principal:#f2f4ff;
    --cor-secundaria:#212333;
    --cor-destaque:#a63aff;
    --cor-texto:#403f70;
    }
    
    body{
        background-color: var(--cor-fundo);
        color: var(--cor-texto);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
    }
    
    h1{
    color: var(--cor-destaque);
    
    }

    button{
background-color: var(--cor-secundaria);
color: var(--cor-texto);
border: none;
border-radius: 15px;
padding: 15px;
transition: background-color 0,5s;
    }

    button:hover{
background-color: var(--cor-destaque);
color: var(--cor-principal);
    }